<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (array.length > 0) { %>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>

        <p>Hola, mi nombre es <%= array[0] %> y soy <%= array[1] %> </p>
    <% } else { %>
        <p>No encontramos al científico indicado. Por favor, elija otro id</p>
    <% } %>

    
  </body>
</html>